/* To use, put this at the first line of your Custom CSS: @import url(https://www.neodymium.dev/BetterDiscordStuff/CSS/AddServerDarkMode.css); */
.theme-light .root-g14mjS {
    background-color: #36393f;
    box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
}
.theme-light .footer-31IekZ {
    background-color: #2f3136;
    box-shadow: inset 0 1px 0 rgb(47 49 54 / 60%);
}
.theme-light .thin-31rlnD::-webkit-scrollbar-thumb{
    background-color: #202225;
}
.theme-light .subtitle-3m-md1,
.theme-light .subtitle-bIoUVX,
.theme-light .subtitle-1cc8Nz,
.theme-light .optionHeader-27AHfD,
.theme-light .text-PdAsFQ,
.theme-light .text-sm-normal-3Zj3Iv,
.theme-light .skip-2hTIXL,
.theme-light .guidelines-FvqqF2,
.theme-light .colorStandard-1Xxp1s,
.theme-light .text-xs-normal-3SiVjE.rowText-3MQqQi {
    color: #b9bbbe !important;
}
.theme-light .inputDefault-3FGxgL,
.theme-light .sampleLink-5BWNy9 {
    color: #dcddde;
}
.theme-light .defaultColor-24IHKz {
    color: #fff;
}
.theme-light .anchor-1MIwyf {
    color: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
}
.theme-light .container-x8Y1ix {
    background-color: #36393f;
    border-color: hsla(0,0%,100%,0.06);
}
.theme-light .rowContainer-3t7486 {
    background-color: #2f3136;
}
.theme-light .container-x8Y1ix:hover, 
.theme-light .rowContainer-3t7486:hover {
    background-color: rgba(79,84,92,0.4);
}
.theme-light .container-x8Y1ix:active, 
.theme-light .rowContainer-3t7486:active {
    background-color: rgba(79,84,92,0.6);
}
.theme-light .arrow-2yY1Tm {
    filter: brightness(0) saturate(100%) invert(84%) sepia(4%) saturate(191%) hue-rotate(177deg) brightness(89%) contrast(91%);
}
.theme-light .footerButton-24QPis {
    background-color: #4f545c;
}
.theme-light .footerButton-24QPis:hover {
    background-color: #686d73;
}
.theme-light .footerButton-24QPis:active {
    background-color: #72767d;
}
.theme-light .lookBlank-21BCro,
.theme-light .lookLink-15mFoz.colorPrimary-2AuQVo {
    color: #fff;
    text-decoration-color: #fff;
}
.theme-light .lookBlank-21BCro:hover,
.theme-light .lookLink-15mFoz.colorPrimary-2AuQVo:hover {
    text-decoration: underline;
}
.theme-light .uploadIcon-2wV7s_ {
    color: #b9bbbe;
}
.theme-light .inputDefault-3FGxgL  {
    background-color: #202225;
    font-weight: 400;
}
.theme-light .inputDefault-3FGxgL::placeholder {
    font-weight: 400;
    color: #87898c;
}
.theme-light .input-m1-Y7Q {
    background-color: #202225;
}
.theme-light .close-1mLglB.button-f2h6uQ {
    opacity: 0.5;
}
.theme-light .close-1mLglB.button-f2h6uQ:hover {
    opacity: 1;
}