/* Hide Own Note Section */
[data-user-id="USER-ID-HERE"] .bodyInnerWrapper-2bQs1k > h3:last-of-type, /* Popout */
[data-user-id="USER-ID-HERE"] .note-Go5ZP2,
[data-user-id="USER-ID-HERE"] .userBio-2-tr00 + h3, /* Modal */
[data-user-id="USER-ID-HERE"] .note-3M15gE {
    display: none;
}
/* Fix Margins */
[data-user-id="USER-ID-HERE"] .bodyInnerWrapper-2bQs1k > div:nth-last-of-type(2),
[data-user-id="USER-ID-HERE"] .bodyInnerWrapper-2bQs1k > div:nth-last-of-type(2).ShowAllActivities-wrapper-wrapper > div, /* for compatibility with ShowAllActivities plugin */
[data-user-id="USER-ID-HERE"] .aboutMeSection-PUghFQ {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
[data-user-id="USER-ID-HERE"] .bodyInnerWrapper-2bQs1k > :first-child {
    margin-top: 16px;
}

/* Replace USER-ID-HERE with your User ID */
/* You can also delete the parts in square brackets to hide ALL note sections :D */