/* Adjusts the appearance of and adds hover/transition effects to UserBackgrounds badges */
.UserBackgrounds-banner-badge {
    background-color: rgba(32, 34, 37, 0.8) !important;
    font-size: 11px;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 5);
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-property: opacity, transform;
    transition-timing-function: ease-out, ease-out, ease-out;
}
.UserBackgrounds-banner-container:hover .UserBackgrounds-banner-badge {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.UserBackgrounds-banner-arrow {
    opacity: 0 !important;
    transform: matrix(1, 0, 0, 1, 0, -5);
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-property: opacity, transform;
    transition-timing-function: ease-out, ease-out, ease-out;
}
.UserBackgrounds-banner-container:hover .UserBackgrounds-banner-arrow:not([disabled]) {
    opacity: 1 !important;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.UserBackgrounds-banner-container:hover .UserBackgrounds-banner-arrow[disabled] {
    opacity: 0.5 !important;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.accountProfileCard-lbN7n- .UserBackgrounds-banner-badge {
    display: none !important;
}

/* Display Badges at top like default, move arrows to middle */
/* .UserBackgrounds-banner-badge {
    transform: matrix(1, 0, 0, 1, 0, -5);
}
.userPopout-2j1gM4 .UserBackgrounds-banner-badge {
    position: absolute;
    top: 6px;
    right: 8px;
}
.root-8LYsGj .UserBackgrounds-banner-badge {
    position: absolute;
    top: 14px;
    right: 16px;
}
.UserBackgrounds-banner-arrow {
    position: absolute;
    top: calc(50% - 20px) !important;
}
.UserBackgrounds-banner-right {
    transform: matrix(1, 0, 0, 1, 5, 0);
}
.UserBackgrounds-banner-left {
    transform: matrix(1, 0, 0, 1, -5, 0);
} */

/* Just remove arrows ¯\_(ツ)_/¯ */
/*.UserBackgrounds-banner-arrow {
    display: none;
} */