.codeblockWrapper {
	position: relative;
	margin: -7px;
}
.codeblockContent {
	padding: 7px;
}
.copyCodeblockButton {
	position: absolute;
	right: 3px;
	top: 3px;
	height: 18px;
	width: 18px;
	padding: 2px;
	background-color: var(--background-tertiary);
	color: var(--interactive-normal);
	box-shadow: var(--elevation-medium);
	border: 1px solid var(--background-floating);
	border-radius: 4px;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.1s, transform 0.1s;
	transform: none;
}
.copyCodeblockButton:hover {
	color: var(--interactive-hover);
}
.copyCodeblockButton:active {
	color: var(--interactive-active);
}
.codeblockWrapper:not(:hover) .copyCodeblockButton {
	opacity: 0;
	transform: scale(0.95) translate(2px, -2px);
}
