.partyMembers {
	position: absolute;
	top: 4px;
	right: 6px;
	margin-top: 2px;
}

.partyMemberAvatar {
	cursor: auto;
}

.overflow {
	background: radial-gradient(circle at -10px 10px, transparent 14px, var(--bg-mod-subtle) 0);
	color: var(--text-normal);
	height: 14px;
	font-size: 12px;
	line-height: 14px;
}
