.partyMembers {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 2px;
}

.partyMemberAvatar {
	cursor: auto;
}

.overflow {
	background: radial-gradient(circle at -10px 10px, transparent 14px, var(--profile-role-pill-background-color) 0);
	color: var(--text-normal);
	height: 14px;
	font-size: 12px;
	line-height: 14px;
}
