.section {
	position: relative;
	padding: 8px;
	border-radius: var(--radius-xs);
	background: var(--bg-mod-faint);
}

.section:hover {
	background: var(--bg-mod-subtle);
}

.panelSection {
	padding: 12px;
	border-radius: var(--radius-sm);
}

:global(.theme-light.custom-profile-theme) .section {
	background: rgb(var(--bg-overlay-color) / 0.4);
}

:global(.theme-dark.custom-profile-theme) .section {
	background: rgb(var(--bg-overlay-color) / var(--bg-overlay-opacity-5));
}

:global(.custom-profile-theme) .section:hover {
	background: linear-gradient(
			rgb(var(--bg-overlay-color-inverse) / 0.05),
			rgb(var(--bg-overlay-color-inverse) / 0.05)
		),
		var(--profile-gradient-end);
}

.header {
	margin-bottom: 8px;
	display: flex;
	justify-content: space-between;
	gap: 4px;
}

.headerText {
	color: var(--header-primary);
	font-size: 12px;
	line-height: 16px;
	font-family: var(--font-primary);
	font-weight: 500;
}

.body {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.details {
	display: flex;
	flex-direction: row;
	align-self: center;
	justify-content: space-between;
	width: 100%;
	gap: 8px;
	overflow: hidden;
}

.text {
	color: var(--text-normal);
	overflow: hidden;

	& > div,
	& > h3 {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	& > h3 {
		font-size: 14px;
		line-height: 18px;
		font-weight: 600;
		font-family: var(--font-display);
	}

	& > div {
		font-size: 12px;
		line-height: 16px;
		font-weight: 400;
		font-family: var(--font-primary);
	}
}

.buttonWrapper {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	margin-top: 12px;

	& > div[aria-label] {
		width: 32px;
		margin-right: 8px;
	}
}

.button {
	height: 32px;
	min-height: 32px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 16px;
	border-radius: 8px;
	color: var(--button-secondary-text);
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	user-select: none;
	transition-duration: 0.2s;
	border: 1px solid var(--opacity-white-8);
	border-color: var(--border-faint);
	background-color: var(--button-secondary-background);
	transition: background-color var(--custom-button-transition-duration) ease,
		color var(--custom-button-transition-duration) ease;

	&:hover {
		background-color: var(--button-secondary-background-hover);
	}

	&:active {
		background-color: var(--button-secondary-background-active);
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
		background-color: (--button-secondary-background-disabled);
	}

	:global(.custom-profile-theme) & {
		transition: background var(--custom-button-transition-duration) ease-in-out;
		background: var(--profile-gradient-button-color);
		color: var(--white-500);
	}

	:global(.custom-profile-theme) &:hover {
		background: color-mix(in srgb, var(--profile-gradient-button-color) 80%, transparent);
	}

	:global(.custom-profile-theme) &:active {
		background: color-mix(in srgb, var(--profile-gradient-button-color) 90%, transparent);
	}
}

.joinWrapper {
	.joinButton {
		min-width: 32px;
		max-width: 32px;
		padding: 0;

		&:disabled {
			pointer-events: none;
		}
	}
}

.joinWrapperDisabled {
	cursor: not-allowed;
}
