.icon {
	height: 20px;
	width: 20px;
	min-width: 20px;
	border-radius: 50%;
	background-color: var(--background-accent);
	cursor: pointer;

	svg {
		padding: 3px;
		color: #fff;
	}
}

.iconCurrentCall {
	background-color: var(--status-positive);
}

.iconLive {
	height: 16px;
	border-radius: 16px;
	background-color: var(--red-400);
	color: #fff;
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
	font-family: var(--font-display);
	text-transform: uppercase;

	& > div {
		padding: 0 6px;
	}
}

.tooltip {
	.header {
		display: block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.subtext {
		display: flex;
		flex-direction: row;
		margin-top: 3px;

		& > div {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	.tooltipIcon {
		min-width: 16px;
		margin-right: 3px;
		color: var(--interactive-normal);
	}
}

.iconContainer {
	margin-left: auto;
}

.peopleListIcon {
	margin-right: 16px;
}
