.section {
	position: relative;
	padding: 8px;
	border-radius: var(--radius-xs);
	background: var(--bg-mod-faint);
}

.panelSection {
	padding: 12px;
	border-radius: var(--radius-sm);
}

:global(.theme-light.custom-profile-theme) .section {
	background: rgb(var(--bg-overlay-color) / 0.4);
}

:global(.theme-dark.custom-profile-theme) .section {
	background: rgb(var(--bg-overlay-color) / var(--bg-overlay-opacity-5));
}

.header {
	margin-bottom: 8px;
	display: flex;
	justify-content: space-between;
	gap: 4px;
}

.headerText {
	color: var(--header-primary);
	font-size: 12px;
	line-height: 16px;
	font-family: var(--font-primary);
	font-weight: 500;
}

.body {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.details {
	display: flex;
	flex-direction: row;
	align-self: center;
	justify-content: space-between;
	width: 100%;
}

.text {
	color: var(--text-normal);

	& > div,
	& > h3 {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	& > h3 {
		font-size: 14px;
		line-height: 18px;
		font-weight: 600;
		font-family: var(--font-display);
	}

	& > div {
		font-size: 12px;
		line-height: 16px;
		font-weight: 400;
		font-family: var(--font-primary);
	}
}

.buttonWrapper {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	margin-top: 12px;

	& > div[aria-label] {
		width: 32px;
		margin-right: 8px;
	}
}

.button {
	height: 32px;
	min-height: 32px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 16px;
	border-radius: 3px;
	color: var(--white-500);
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	user-select: none;
	background-color: var(--profile-gradient-button-color);
	transition: opacity var(--custom-button-transition-duration) ease;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.9;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.joinWrapper {
	.joinButton {
		min-width: 32px;
		max-width: 32px;
		padding: 0;

		&:disabled {
			pointer-events: none;
		}
	}
}

.joinWrapperDisabled {
	cursor: not-allowed;
}

// .partyMembers {
// 	position: absolute;
// 	top: 8px;
// 	right: 8px;
// }
