.section {
	position: relative;
}

.header {
	margin-bottom: 8px;
	color: var(--header-primary);
	font-size: 12px;
	line-height: 16px;
	font-family: var(--font-display);
	font-weight: 700;
	text-transform: uppercase;
}

.body {
	display: flex;
	flex-direction: row;
}

.text {
	margin: auto 10px;
	color: var(--text-normal);
	font-size: 14px;
	line-height: 18px;
	overflow: hidden;

	& > div,
	& > h3 {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	& > h3 {
		font-family: var(--font-normal);
		font-weight: 600;
	}
}

.buttonWrapper {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	margin-top: 12px;

	& > div[aria-label] {
		width: 32px;
		margin-left: 8px;
	}
}

.button {
	height: 32px;
	min-height: 32px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 16px;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	user-select: none;
	background-color: var(--profile-gradient-button-color);
	transition: opacity 0.2s ease-in-out;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.9;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.joinWrapper {
	.joinButton {
		min-width: 32px;
		max-width: 32px;
		padding: 0;

		&:disabled {
			pointer-events: none;
		}
	}
}

.joinWrapperDisabled {
	cursor: not-allowed;
}
