.icon {
	height: 20px;
	width: 20px;
	min-width: 20px;
	border-radius: 50%;
	background-color: var(--background-floating);
	cursor: pointer;

	&:hover {
		background-color: var(--background-tertiary);
	}

	svg {
		padding: 3px;
		color: var(--interactive-normal);
	}
}
.iconCurrentCall {
	background-color: var(--status-positive);

	&:hover {
		background-color: var(--button-positive-background);
	}

	svg {
		color: #fff;
	}
}
.iconLive {
	height: 16px;
	border-radius: 16px;
	background-color: var(--status-danger);
	color: #fff;
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
	font-family: var(--font-display);
	text-transform: uppercase;

	&:hover {
		background-color: var(--button-danger-background);
	}

	& > div {
		padding: 0 6px;
	}
}

.tooltip {
	.header {
		display: block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.subtext {
		display: flex;
		flex-direction: row;
		margin-top: 3px;

		& > div {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	.tooltipIcon {
		min-width: 16px;
		margin-right: 3px;
		color: var(--interactive-normal);
	}
}

.iconContainer {
	.icon {
		margin-right: 8px;
	}

	.iconLive {
		margin-right: 8px;
	}

	margin-left: auto;
}
