/* Locked/Hidden/Full Channel Hover Improvements - https://cdn.discordapp.com/attachments/470024236497502218/933228368558694470/unknown.png */
.modeLocked-3sToxd .name-28HaxV, .hidden-9f2Dsa .name-28HaxV {
    color: var(--channels-default) !important;
}
.hidden-9f2Dsa.modeMuted-2T4MDZ .name-28HaxV {
    color: var(--interactive-muted) !important;
}
.modeLocked-3sToxd .content-1gYQeQ:hover, .hidden-9f2Dsa .content-1gYQeQ:hover {
    background-color: var(--background-modifier-hover);
}
.modeLocked-3sToxd .mainContent-20q_Hp, .hidden-9f2Dsa .mainContent-20q_Hp {
    cursor: not-allowed !important;
}
[aria-label="This channel is full."] .name-28HaxV { /* Sorry about the aria-label, couldn't find another way to select it :/ */
    color: var(--channels-default) !important;
}