/* Hide Own Note Section */
[data-user-id="USER-ID-HERE"] .bodyInnerWrapper-2bQs1k h3:nth-last-child(2), /* Popout */
[data-user-id="USER-ID-HERE"] .note-Go5ZP2,
[data-user-id="USER-ID-HERE"] .userBio-2-tr00 + h3, /* Modal */
[data-user-id="USER-ID-HERE"] .note-3M15gE {
    display: none;
}
[data-user-id="USER-ID-HERE"] .rolesList-3uZoaa,
[data-user-id="USER-ID-HERE"] .aboutMeSection-PUghFQ {  /* Fix margins */
    margin-bottom: 0px;
}
[data-user-id="USER-ID-HERE"] .bodyInnerWrapper-2bQs1k h3:nth-child(1) { /* Fix margins part II */
    margin-top: 16px;
}

/* Replace USER-ID-HERE with your User ID */
