/* Highlights pinned messages (Requires PinnedMessageIcons plugin) */
.message-2CShn3.pinned-message:not(.mentioned-Tre-dv):not(.replying-eZ7p5z)::after {
    content: "";
    position: absolute;
    display: block;
    width: inherit;
    height: inherit;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    background: var(--background-accent);
    opacity: 0.32;
    z-index: -1;
}
.message-2CShn3.pinned-message:not(.mentioned-Tre-dv):not(.replying-eZ7p5z)::before {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: inherit;
    left: 0px;
    bottom: 0px;
    top: 0px;
    background: var(--channels-default);
}