.activity-icon {
	width: 16px;
	height: 16px;
	margin-left: 4px;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rich-activity-icon {
	margin-left: 2px;
	margin-right: -2px;
}

.activity-icon > div {
	width: inherit;
	height: inherit;
}
